@model Invetario.Models.Almacen

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>Estas seguro de que quieres borrar esto?</h3>
<div>
    <h4>Almacen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion_almacen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_almacen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
