@model Invetario.Models.Almacen

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Almacenes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion_almacen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_almacen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_almacen }) |
    @Html.ActionLink("Volver", "Index")
</p>
